<form class="{{cssClass}}" autocomplete="off">
    <div class="form-group inpc-header">
        <img src="{{config.img}}" data-edit="img" title="{{journal.name}}" height="124" width="124"/>
        <h2><input type="text" name="name" value="{{journal.name}}"></h2>
    </div>

    <div class="form-group-stacked" style="margin: 1rem;">
        <label>Summary</label>
        <textarea class="form-control" rows="4" name="summary" placeholder="{{journal.name}} is a generic NPC usable in any setting">{{config.summary}}</textarea>
        <p class="notes">A quick summary of this NPC for human reference. Intelligent NPCs do not read this field.</p>
    </div>

    <fieldset>
        <legend>Public Info</legend>
        <p class="notes">These fields will be read by other Intelligent NPCs, so don't include any info that others shouldn't generally know. These fields should be written in third person.</p>

        <div class="form-group-stacked">
            <label>What Everyone Knows</label>
            <textarea class="form-control" rows="4" name="whatEveryoneKnows" placeholder="{{journal.name}} is a generic person who is well known for existing." maxlength="500">{{config.whatEveryoneKnows}}</textarea>
            <p class="notes">A quick summary of what others generally know about this person. Write in third person. Max length: 500 characters</p>
        </div>

        <div class="form-group-stacked">
            <label>Appearance</label>
            <textarea class="form-control" rows="4" name="appearance" placeholder="{{journal.name}} wears standard street wear." maxlength="500">{{config.appearance}}</textarea>
            <p class="notes">What this character looks like to others. Write in third person. Max length: 500 characters</p>
        </div>
    </fieldset>


    <fieldset>
        <legend>Private Info</legend>
        <p class="notes">The following fields should be written in first person.</p>

        <div class="form-group-stacked">
            <label>Background</label>
            <textarea class="form-control" rows="8" name="background" placeholder="Background" maxlength="500">{{config.background}}</textarea>
        </div>

        <div class="form-group-stacked">
            <label>Personality</label>
            <textarea class="form-control" rows="8" name="personality" placeholder="Personality">{{config.personality}}</textarea>
        </div>

        <div class="form-group-stacked">
            <label>Goals</label>
            <textarea class="form-control" rows="4" name="goals" placeholder="Goals">{{config.goals}}</textarea>
        </div>

        <div class="form-group-stacked">
            <label>Connections</label>
            <textarea class="form-control" rows="4" name="connections" placeholder="Connections">{{config.connections}}</textarea>
        </div>

        <div class="form-group-stacked">
            <label>Example Sentence</label>
            <p class="notes">You should wrap emoting text with &lt;i&gt; tags, such as &lt;i&gt;Waves&lt;/i&gt;</p>
            <textarea class="form-control" rows="2" name="exampleSentence" placeholder="Why hello there">{{config.exampleSentence}}</textarea>
        </div>

        <div class="form-group-stacked">
            <label>Initial Memory</label>
            <textarea class="form-control" rows="5" name="memory" placeholder="Memory">{{config.memory}}</textarea>
        </div>
    </fieldset>
</form>
