<form class="{{cssClass}}" autocomplete="off">
    <div class="form-group">
        <h2>{{actor.name}}</h2>
    </div>

    <fieldset>
        <legend>Configuration</legend>
        <div class="form-group-stacked">
            <label><i class="fa-regular fa-brain-circuit"></i> AI Enabled</label>
            <input type="checkbox" name="enabled" {{checked config.enabled}}>
        </div>

        <div class="form-group-stacked">
            <label>Journal Page <i class="inpc-journal-page-link fas fa-file-lines" data-uuid="{{journalPageUUID}}"></i></label>
            {{#if canSwap}}
                <p class="notes">Pick an available Intelligent NPC journal page to load up a character to use</p>
            {{else}}
                <p class="notes">This NPC has been customized. Please reset to swap configured personality</p>
                <button class="reset-inpc"><i class="fas fa-undo"></i> Reset</button>
            {{/if}}
            <select name="journalPage" {{#unless canSwap}}disabled="disabled"{{/unless}}>
                {{#select config.journalPage}}
                <option value="none">None</option>
                {{#each journalPages.optgroups}}
                    <optgroup label="{{label}}">
                        {{#each options}}
                            <option value="{{value}}">{{label}}</option>
                        {{/each}}
                    </optgroup>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </fieldset>

    <fieldset>
        <legend>Public</legend>
        <p class="notes">These fields override any journal selected, and will be read by Intelligent NPCs, so don't include any info that others shouldn't generally know</p>

        <div class="form-group-stacked">
            <label>Summary</label>
            <textarea class="form-control" rows=2 name="summary" placeholder="Description">{{config.summary}}</textarea>
        </div>

        <div class="form-group-stacked">
            <label>Appearance</label>
            <textarea class="form-control" rows="3" name="appearance" placeholder="Appearance">{{config.appearance}}</textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Advanced</legend>

        <div class="form-group-stacked">
            <label>Memory</label>
            <p class="notes">Warning: It's generally best to let the NPC manage it's own memory</p>
            <textarea class="form-control" rows="5" name="memory" placeholder="Memory">{{config.memory}}</textarea>
        </div>

        <div class="form-group-stacked">
            <label>Message History</label>
            <button class="clear-history"><i class="fas fa-trash"></i> Clear History</button>
            <textarea class="form-control" rows="10" readonly placeholder="Message History">{{messageHistory}}</textarea>
        </div>
    </fieldset>
</form>
